html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: Merriweather, serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  background-color: #d05c2e;
  text-align: center;
  padding: .5em 0;
  margin: 0;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 1.125rem;
  background-color: #d05c2e;
  border: .07em solid #a63f38;
  text-align: center;
  padding: .4em 0;
  margin: 0;
  width: 33.333%;
  list-style-type: none;
  text-decoration: none;
}

ul li:hover {
  background-color: #a63f38;
}

img {
  width: 40px;
  display: inline-flex;
  justify-content: space-between;
}