html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: Merriweather, serif;
  margin: 0;
  flex-wrap: 100%;
}

h1 {
  font-size: 2rem;
  font-style: bold;
  background-color: #d05c2e;
  text-align: center;
  padding: .5em 0;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 2;
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 1.125rem;
  background-color: #d05c2e;
  border: .1em solid #a63f38;
  padding: .4em 0;
  margin: 0;
}